<a href="https://colab.research.google.com/github/karkaushik/tech_class_assignments/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list

In [9]:
def Remove(duplicate_num):
    list = []
    for num in duplicate_num:
        if num not in list:
            list.append(num)
    return list
duplicate_num = [1,1,3,3,2,5,6,7,8]
print(Remove(duplicate_num))

[1, 3, 2, 5, 6, 7, 8]

In [26]:
list2=[1,2,2,3,4,5,3,7,8,2,1]
 
result=[]
for i in list2:
           if i not in result:
             result.append(i)

In [27]:
print(result)

[1, 2, 3, 4, 5, 7, 8]